@import "../../styles-shared";

.start-page {
  min-height: calc(100% - 98px * 2);
  padding: 48px 24px;
  position: relative;
  display: flex;
}

.container {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  column-gap: 24px;
}

.text-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: $black-600;
  border: $border;
  border-radius: $border-radius-12;
  padding: 56px;

  .title {
    font-family: $h-font-family;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 16px;
  }

  .subtitle {
    color: $white-40;
    margin-bottom: 64px;
  }

  .start-button {
    width: 200px;
  }
}

.image-card {
  flex: 1;
  border-radius: $border-radius-12;
  overflow: hidden;

  img {
    height: 100%;
  }
}
