@import "../../styles-shared";

.content {
  padding: 24px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
}

.title {
  font-family: $h-font-family;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 4px;
}

.subtitle {
  color: $white-24;
  margin-bottom: 32px;
}

.close-button {
  width: 100px;
}
