@import "../../styles-shared";

.content {
  display: flex;
  align-items: flex-end;
  padding: 16px 24px 24px;
  width: 450px;
  height: 128px;
}

.form {
  width: 100%;
  display: flex;
  column-gap: 12px;
}

.control {
  flex: 1;
}

.submit-button {
  height: 48px;
  min-width: 100px;
}
