<div class="header">
  <div class="header-inner">
    <div class="logo">
      <img src="assets/icons/logo.svg" alt="logo">
      <div class="logo-text">P&C of Owning a Cat</div>
    </div>
    <div class="quiz-participants">
      <div class="participants">Participants: 10000</div>
      <button mat-flat-button class="quiz-button" (click)="openQuizDialog()">Quiz</button>

    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="footer-inner">
    <div class="sign">@ Yana - Frontend Challenge 2023</div>
    <div class="source">
      <div class="source-text">Source: </div>
      <button mat-icon-button (click)="navigateToGitHub()">
        <mat-icon svgIcon="github"></mat-icon>
      </button>
    </div>
  </div>
</div>
