@import "../styles-shared";

.header,
.footer {
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-inner,
  .footer-inner {
    width: 100%;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }
}

.logo {
  display: flex;
  column-gap: 24px;
  align-items: center;

  .logo-text {
    font-family: $h-font-family;
    font-size: 24px;
    line-height: 32px;
  }
}

.quiz-participants {
  display: flex;
  align-items: center;
  column-gap: 16px;

  .quiz-button {
    padding: 0 40px;
    background: $yellow-500;
  }

  .participants {
    height: 46px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 12px 18px;
    background: $black-600;
    border-radius: $border-radius-6;
    border: $border;

    .divider {
      color: $white-16
    }
  }
}

.sign {
  color: $white-32;
  font-size: 14px;
  line-height: 21px;
}

.source {
  display: flex;
  align-items: center;
  column-gap: 12px;

  .source-text {
    color: $white-32;
    font-size: 14px;
    line-height: 21px;
  }
}
