<div class="header">
  <div class="header-inner">
    <div class="logo">
      <img src="assets/icons/logo.svg" alt="logo">
      <div class="logo-text">Pros & Cons of Owning a Cat</div>
    </div>
    <div class="quiz-participants">
      <button mat-flat-button class="quiz-button">Quiz</button>

      <div class="participants">
        <img
          class="avatar"
          src="assets/icons/avatar.svg"
          matTooltip="Dev Cat (You)"
          alt="logo"
        >
        <div class="participants-text">
          Participants: <br>
          10000
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="footer-inner">
    <div class="sign">@ YanaK22 - Frontend Challenge 2023</div>
    <div class="source">
      <div class="source-text">Source: </div>
      <button mat-icon-button (click)="navigateToGitHub()">
        <mat-icon svgIcon="github"></mat-icon>
      </button>
    </div>
  </div>
</div>
