<div class="vote-card">
  <div class="labels">
    <div *ngIf="isNew" class="label">new</div>
    <div *ngIf="isMostLiked" class="label">most liked</div>
    <div *ngIf="isMostDisliked" class="label">most disliked</div>
  </div>
  <div class="option">{{item.text}}</div>
  <div class="info-actions">
    <div class="info">
      <div class="info-likes">Likes: {{item.likes}}</div>
      <div class="info-likes">Dislikes: {{item.dislikes}}</div>
    </div>
    <div class="actions">
      <button
        mat-icon-button
        (click)="onLikeClick(item.id)"
        [disabled]="isActionsDisabled(item)"
      >
        <mat-icon svgIcon="like"></mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="onDislikeClick(item.id)"
        [disabled]="isActionsDisabled(item)"
      >
        <mat-icon svgIcon="dislike"></mat-icon>
      </button>
    </div>
  </div>
</div>
