<div class="vote-card">
  <div class="label">
    most liked
  </div>
  <div class="option">They can be low-maintenance</div>
  <div class="info-actions">
    <div class="info">
      <div class="info-likes">Likes: 65</div>
      <div class="info-likes">Dislikes: 24</div>
    </div>
    <div class="actions">
      <button mat-icon-button>
        <mat-icon svgIcon="like"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="dislike"></mat-icon>
      </button>
    </div>
  </div>
</div>
