<div class="vote-page">
  <div class="page-inner">
    <div class="info">
      <div class="results">
        <h2 class="results-title">current results</h2>
        <div class="results-card">
          <div class="top">
            <div class="top-pros">
              <div class="top-title">
                <img src="assets/icons/pros3.svg">
                <div>top 3 of pros</div>
              </div>
              <div class="list">
                <div class="list-item">
                  <div class="number first-number">1</div>
                  <div class="text">{{top3(ItemType.Pros)[0].text}}</div>
                </div>
                <div class="list-item">
                  <div class="number">2</div>
                  <div class="text">{{top3(ItemType.Pros)[1].text}}</div>
                </div>
                <div class="list-item">
                  <div class="number">3</div>
                  <div class="text">{{top3(ItemType.Pros)[2].text}}</div>
                </div>
              </div>
            </div>
            <div class="top-cons">
              <div class="top-title">
                <img src="assets/icons/cons3.svg">
                <div>top 3 of cons</div>
              </div>
              <div class="list">
                <div class="list-item">
                  <div class="number first-number">1</div>
                  <div class="text">{{top3(ItemType.Cons)[0].text}}</div>
                </div>
                <div class="list-item">
                  <div class="number">2</div>
                  <div class="text">{{top3(ItemType.Cons)[1].text}}</div>
                </div>
                <div class="list-item">
                  <div class="number">3</div>
                  <div class="text">{{top3(ItemType.Cons)[2].text}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="diagram">
            <div class="diagram-title">pros <span>us</span> cons</div>
            <div class="control">
              <div class="control-label">
                Pros summary likes: 2000
              </div>
              <div class="control-line">
                <div class="control-line-value" [ngStyle]="{'width': 100 + '%' }"></div>
              </div>
            </div>
            <div class="control">
              <div class="control-label">
                Cons summary likes: 1560
              </div>
              <div class="control-line">
                <div class="control-line-value" [ngStyle]="{'width': 70 + '%' }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="log">
        <h2 class="log-title">log</h2>
        <div class="log-card">
          <div class="log-card-inner">
            <div class="log-item">
              <span class="log-time">00:00</span>
              <div class="log-text">Voting started</div>
            </div>
            <div class="log-item">
              <span class="log-time">00:04</span>
              <div class="log-text">“They are strong-willed” added to cons</div>
            </div>
            <div class="log-item">
              <span class="log-time">00:04</span>
              <div class="log-text">“They are strong-willed” added to cons</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pros-cons">
      <div class="pros">
        <div class="title">
          <div class="title-text">pros <span class="number">cards: {{pros.length}}</span></div>
          <button mat-icon-button (click)="openAddItemDialog(ItemType.Pros)">
            <mat-icon svgIcon="add"></mat-icon>
          </button>
        </div>
        <div class="cards">
          <c-vote-card
            *ngFor="let prosItem of pros; let i = index"
            [item]="prosItem"
            [type]="ItemType.Pros"
            [isNew]="i === 0"
            [isMostLiked]="isItemMostLiked(pros, prosItem)"
            [isMostDisliked]="isItemMostDisliked(pros, prosItem)"
          ></c-vote-card>
        </div>
      </div>

      <div class="cons">
        <div class="title">
          <div class="title-text">cons <span class="number">cards: {{cons.length}}</span></div>
          <button mat-icon-button (click)="openAddItemDialog(ItemType.Cons)">
            <mat-icon svgIcon="add"></mat-icon>
          </button>
        </div>
        <div class="cards">
          <c-vote-card
            *ngFor="let consItem of cons; let i = index"
            [item]="consItem"
            [type]="ItemType.Cons"
            [isNew]="i === 0"
            [isMostLiked]="isItemMostLiked(cons, consItem)"
            [isMostDisliked]="isItemMostDisliked(cons, consItem)"
          ></c-vote-card>
        </div>
      </div>
    </div>
  </div>
</div>
