@import "../../styles-shared";

.vote-page {
  min-height: calc(100vh - 196px);
  padding: 48px 24px;

  .page-inner {
    max-width: 1256px;
    margin: 0 auto;
  }
}

.info {
  display: flex;
  column-gap: 48px;
  margin-bottom: 96px;
}

.results {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  .results-title {
    font-family: $h-font-family;
    font-size: 48px;
    line-height: 56px;
    color: $yellow-500;
  }

  .results-card {
    background: $black-600;
    border: $border;
    border-radius: $border-radius-12;
    padding: 40px;
  }

  .top {
    display: flex;
    column-gap: 40px;
    margin-bottom: 64px;

    .top-pros,
    .top-cons {
      flex: 1;
    }

    .top-title {
      display: flex;
      align-items: center;
      column-gap: 16px;
      font-family: $h-font-family;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    .list {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    .list-item {
      display: flex;
      align-items: center;
      column-gap: 12px;
    }

    .number {
      font-family: $h-font-family;
      font-size: 24px;
      line-height: 32px;
      min-width: 14px;
    }

    .first-number {
      color: $yellow-500;
    }
  }

  .diagram-title {
    font-family: $h-font-family;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;

    span {
      color: $yellow-500;
    }
  }

  .control {
    display: flex;
    align-items: center;
    min-height: 32px;

    .control-label {
      min-width: 200px;
      font-size: 14px;
      line-height: 21px;
    }

    .control-line {
      width: 350px;
      height: 6px;
    }

    .control-line-value {
      height: 6px;
      border-radius: 4px;
      background: #FFE074;
      transition: 0.2s;
    }
  }

  .total {
    .total-pros,
    .total-cons {
      display: flex;
      align-items: center;
      min-height: 32px;
      color: $white-32;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.log {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  .log-title {
    font-family: $h-font-family;
    font-size: 48px;
    line-height: 56px;
    color: $yellow-500;
  }

  .log-card {
    flex: 1;
    background: $black-600;
    border: $border;
    border-radius: $border-radius-12;
    position: relative;
    overflow: hidden;
  }

  .log-card-inner {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 24px;
    font-size: 14px;
    overflow: auto;
    right: -17px;
  }

  .log-item {
    display: flex;
    column-gap: 12px;
  }

  .log-time {
    color: $white-32;
  }
}

.pros-cons {
  width: 906px;
  display: flex;
  column-gap: 48px;
  justify-content: space-between;

  .pros,
  .cons {
    flex: 1;
  }

  .cards {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .title {
    font-family: $h-font-family;
    font-size: 48px;
    line-height: 56px;
    color: $yellow-500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .number {
      font-family: $font-family;
      font-size: 16px;
      line-height: 18px;
      color: $white-40;
    }
  }
}
