<div class="vote-page">
  <div class="page-inner">
    <div class="info">
      <div class="results">
        <h2 class="results-title">current results</h2>
        <div class="results-card">
          <div class="lead-top">
            <div class="lead">pros lead!</div>
            <div class="top">
              <div class="top-pros">
                <div class="top-title">
                  <img src="assets/icons/pros3.svg">
                  <div>top 3 of pros</div>
                </div>
                <div class="list">
                  <div class="list-item">
                    <div class="number first-number">1</div>
                    <div class="text">They can be low-maintenance</div>
                  </div>
                  <div class="list-item">
                    <div class="number">2</div>
                    <div class="text">They can be low-maintenance</div>
                  </div>
                  <div class="list-item">
                    <div class="number">3</div>
                    <div class="text">They can be low-maintenance</div>
                  </div>
                </div>
              </div>
              <div class="top-cons">
                <div class="top-title">
                  <img src="assets/icons/cons3.svg">
                  <div>top 3 of cons</div>
                </div>
                <div class="list">
                  <div class="list-item">
                    <div class="number first-number">1</div>
                    <div class="text">They can be low-maintenance</div>
                  </div>
                  <div class="list-item">
                    <div class="number">2</div>
                    <div class="text">They can be low-maintenance</div>
                  </div>
                  <div class="list-item">
                    <div class="number">3</div>
                    <div class="text">They can be low-maintenance</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="diagram-total">
            <div class="diagram">
              <div class="diagram-title">pros <span>us</span> cons</div>
              <div class="control">
                <div class="control-label">
                  Pros summary likes: 2000
                </div>
                <div class="control-line">
                  <div class="control-line-value" [ngStyle]="{'width': 100 + '%' }"></div>
                </div>
              </div>
              <div class="control">
                <div class="control-label">
                  Cons summary likes: 1560
                </div>
                <div class="control-line">
                  <div class="control-line-value" [ngStyle]="{'width': 70 + '%' }"></div>
                </div>
              </div>
            </div>
            <div class="total">
              <div class="total-pros">Total pros: 24</div>
              <div class="total-cons">Total cons: 24</div>
            </div>
          </div>
        </div>
      </div>

      <div class="log">
        <h2 class="log-title">log</h2>
        <div class="log-card">
          <div class="log-card-inner">
            <div class="log-item">
              <span class="log-time">00:00</span>
              <div class="log-text">Voting started</div>
            </div>
            <div class="log-item">
              <span class="log-time">00:04</span>
              <div class="log-text">“They are strong-willed” added to cons</div>
            </div>
            <div class="log-item">
              <span class="log-time">00:04</span>
              <div class="log-text">“They are strong-willed” added to cons</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pros-cons">
      <div class="pros">
        <div class="title">
          <div class="title-text">pros</div>
          <button mat-icon-button (click)="openAddItemDialog(ItemType.Pros)">
            <mat-icon svgIcon="add"></mat-icon>
          </button>
        </div>
        <div class="cards">
          <c-vote-card></c-vote-card>
          <c-vote-card></c-vote-card>
        </div>
      </div>

      <div class="cons">
        <div class="title">
          <div class="title-text">cons</div>
          <button mat-icon-button (click)="openAddItemDialog(ItemType.Cons)">
            <mat-icon svgIcon="add"></mat-icon>
          </button>
        </div>
        <div class="cards">
          <c-vote-card></c-vote-card>
          <c-vote-card></c-vote-card>
          <c-vote-card></c-vote-card>
          <c-vote-card></c-vote-card>
        </div>
      </div>
    </div>
  </div>
</div>
