@import "../../styles-shared";

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 500px;
  padding: 32px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.slide {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.text {
  font-family: $h-font-family;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  text-align: center;
}

.next-button {
  width: fit-content;
  min-width: 160px;
  margin: 0 auto;
}

.loading {
  height: 360px;
  border-radius: $border-radius-12;
}
