// colors
$black-700: #121212;
$black-600: #1E1E1E;
$yellow-500: #FFE074;
$green-500: #C6D793;
$pink-500: #FFB6E1;

$white-32: rgba(255, 255, 255, 0.32);
$white-16: rgba(255, 255, 255, 0.16);
$purple-80: rgba(225, 193, 255, 0.8);
$yellow-32: rgba(255, 224, 116, 0.32);

$font-family: 'Ubuntu',sans-serif;
$h-font-family: 'Luckiest Guy',sans-serif;

  // borders
$border-radius-6: 6px;
$border-radius-12: 12px;
$border: 1.5px solid $white-16;
$border-hover: 1.5px solid $purple-80;

// override Material classes
.mat-mdc-icon-button {
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border;
  border-radius: 50%;
  padding: 0;
  transition: 0.2s;
}

.mat-mdc-icon-button:hover {
  border: $border-hover;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
  width: 40px !important;
  height: 40px !important;
}

.mat-mdc-outlined-button {
  color: white !important;
  border: $border !important;
}

.mdc-button__label {
  font-family: $font-family !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal !important;
}

// global classes

