@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Ubuntu:wght@400;500;700&display=swap');
@import "styles-shared";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

body {
  margin: 0;
  background: $black-700;
  overflow: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
